<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
          https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!-- Authentification Nexus -->
  <servers>
    <server>
      <id>nexus</id>
      <username>admin</username>
      <password>root</password>
    </server>
  </servers>

  <!-- Configuration du dépôt pour deploy -->
  <profiles>
    <profile>
      <id>nexus</id>
      <properties>
        <altDeploymentRepository>nexus::default::http://localhost:8081/repository/maven-snapshots/</altDeploymentRepository>
      </properties>
    </profile>
  </profiles>

  <!-- Activer le profil nexus -->
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>

</settings>
